@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Orbitron:wght@700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide-active{
    opacity: 1!important;
}
.swiper-slide{
    opacity: 0.5;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
}
.checkbox:checked {
    border: none;
}
.checkbox:checked + .check-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}